@import "utilities";
.navbar{
    @include flex(space-between, center);
    padding-left: 3rem;
    position: relative;

    .logo{
        img{
            width: 35px;
        }
    }

    .line{
        margin: 0 -3rem 0 4rem;
        flex-grow: 1;
        display: inline-block;
        height: .1rem;
        background-color: rgb(63, 62, 62);
        z-index: 100;
    }

    ul{
        @include flex();
        list-style-type: none;
        padding: 0 10%;
        position: relative;
        z-index: 10;
        background: hsl(0 0 100% / .05);
        backdrop-filter: blur(1.5rem);

        li{
            margin-left: 4rem;

            a{
                display: inline-block;
                font-size: 1.5rem;
                color: #ccc;
                padding: 3rem 0;
                position: relative;

                b{
                    color: #fff;
                }
            }
            &:first-child{
                margin: 0;
            }
        }
    }
    
    button{
        display: none;
    }
}
